@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@400;500;600;700&family=M+PLUS+1:wght@300;400;500;600;700&display=swap");

/* * {
  margin: 0;
  padding: 0;
} */
:root {
  font-family: "M PLUS 1", sans-serif;
  /* font-family: 'M PLUS 1 Code', monospace; */
  font-weight: 400;
  color-scheme: light dark;
  color: #fff;
  background-color: #1a1e1d;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  user-select: none;
  height: 170vh;
}
.backgroundImg {
  height: 170vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.backgroundImg img {
  width: 100%;
}
.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

/* Giving space between section */

.spacer-bottom {
  margin-bottom: 104px;
}

/* Header */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: bold;
}
header img {
  margin-right: 12px;
}

/* HeroSection */

.HeroSection {
  width: 100%;
  display: flex;
}
.HeroSection div {
  width: 50%;
}
.HeroSection .textHero {
  padding-right: 100px;
}

.HeroSection .textHero h1 {
  font-weight: bold;
  font-size: 3.125rem;
  line-height: 1.13;
}

.HeroSection .textHero p {
  font-size: 1.125rem;
  line-height: 1.3;
  padding-right: 47px;
  color: #adb2b1;
}

.HeroSection .textHero button {
  background-color: #eb9928;
  outline: none;
  border: none;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.HeroSection .textHero button img {
  margin-left: 1rem;
}

.HeroSection .ObjHero {
  position: relative;
}
.HeroSection .ObjHero .RandomCard {
  position: absolute;
  top: 20%;
  left: -7%;
  width: 28.95613rem;
  height: 17.36175rem;
  transform: rotate(15deg);
  flex-shrink: 0;
  border-radius: 2rem;
  border: 2px solid #fff;
  background: linear-gradient(
    113deg,
    rgba(255, 255, 255, 0.37) 10.29%,
    rgba(255, 255, 255, 0) 100.35%
  );
  backdrop-filter: blur(37.5px);
  padding: 2rem 2.5rem;
}
.HeroSection .ObjHero .RandomCard .textLabel {
  width: 9.70213rem;
  height: 1.8135rem;
}
.HeroSection .ObjHero .RandomCard .textRandomGen {
  width: 29.76788rem;
  height: 12.93488rem;
  color: #fff;
  font-family: "M PLUS 1 Code", monospace;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.1rem; /* 100% */
  word-wrap: break-word;
  word-break: break-all;
  text-align: justify;
}

.HeroSection .ObjHero .Sphere {
  background-color: #eb9928;
  width: 27.75rem;
  height: 27.75rem;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Section 2 {Password Generation Form} */

.Flex-Justify-align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.PassGenDiv {
  height: 30.6875rem;
  padding: 4rem 3.125rem;
  align-items: flex-start;
  align-content: flex-start;
  flex-shrink: 0;
  flex-wrap: wrap;
  border-radius: 2rem;
  background: rgba(61, 84, 77, 0.24);
  backdrop-filter: blur(8px);
  width: 44rem;
  height: 22.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.PassGenDiv .heading {
  margin: 0;
  margin-bottom: 2rem;
  color: #fff;
  text-align: center;
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem; /* 182.857% */
  letter-spacing: -0.05469rem;
  width: 100%;
}
.PassGenDiv .options {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.PassGenDiv .options .labeltext {
  margin: 0;
  margin-left: 1rem;
}
.PassGenDiv .inputDiv {
  background-color: #313d3b;
  width: 30.25rem;
  height: 3.3125rem;
  position: relative;
  margin-bottom: 1rem;
  /* flex-shrink: 0; */
}
.PassGenDiv .inputDiv .generatedPass {
  font-family: "M PLUS 1 Code", monospace;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  margin-right: 3.7125rem;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: auto;
  user-select: text;
  white-space: nowrap;
  overflow-x: scroll;
  text-overflow: ellipsis;
  text-align: center;
  word-wrap: break-word;
  word-break: break-all;
  padding: 0rem 0.25rem;
}
/* Scroll bar CSS */
.PassGenDiv .inputDiv .generatedPass::-webkit-scrollbar {
  height: 5px;
}

.PassGenDiv .inputDiv .generatedPass::-webkit-scrollbar-track {
  background: #313d3b; /* Background color of the scrollbar track */
  cursor: pointer;
}

.PassGenDiv .inputDiv .generatedPass::-webkit-scrollbar-thumb {
  background: #45504e; /* Color of the scrollbar thumb */
  border-radius: 25px;
  cursor: pointer;
}

.PassGenDiv .inputDiv .generatedPass::-webkit-scrollbar-thumb:hover {
  background: #2c3635; /* Color of the scrollbar thumb on hover */
}

/*  */
.PassGenDiv .inputDiv .CopyButton {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.3125rem;
  height: 3.3125rem;
  background-color: #eb9928;
  cursor: pointer;
}

.PassGenDiv .GenerateButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eb9928;
  color: #2f4858;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  width: 12.9375rem;
  height: 3.3125rem;
  cursor: pointer;
}
